- var navis = ['whatever1', 'whatever2', 'whatever3']

mixin list(activeID)
  ul.nav.nav-sidebar
    each val,index in navis
      if index==activeID
        a.active(href='#') val
      else
        a(href='#') val
      
doctype html
html(lang="zh-CN")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE-edge')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          block navigate
            +list(0)
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          block content
          block footer
    
